<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lby.mapper.SimpleUserMapper">
    <resultMap id="UserResultMap" type="cn.lby.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />
    </resultMap>
        
	<sql id="Base_Column_List" >
	    id, name, email 
	</sql>

    <select id="findAllUsers" resultMap="UserResultMap">
        select 
		<include refid="Base_Column_List" />
		from users
    </select>
     
    <select id="findUserById" resultMap="UserResultMap" parameterType="java.lang.Integer">
        select
		<include refid="Base_Column_List" />
		from users WHERE id=#{id}
    </select>
 
     <insert id="insertUser" parameterType="cn.lby.entity.User">
        insert into users(name,email) values(#{name},#{email})
    </insert>
</mapper>